@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=PT+Serif:wght@700&family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Lobster&family=PT+Serif:wght@700&family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Lobster&family=Merriweather+Sans:ital,wght@1,800&family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Lobster&family=Merriweather+Sans:ital,wght@1,800&family=Playball&family=Rubik+Wet+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Inspiration&family=Lobster&family=Merriweather+Sans:ital,wght@1,800&family=Playball&family=Rubik+Wet+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Inspiration&family=Lobster&family=Merriweather+Sans:ital,wght@1,800&family=Playball&family=Righteous&family=Rubik+Wet+Paint&display=swap');

*{
    margin: 0;
    padding: 0;
}
header{
    height: 18vh;
}
main{
    height: 161vh;
}
nav{
    display: flex;
    height: 7vh;
}
li a{
    text-transform: capitalize;
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
li{
    display: inline-block;
    padding-right: 3vw;
    padding-left: 3vw;
    /* padding-top: 1.5vh; */
}
#images{
    transform: skew(19deg,7deg) scale(1.5,2);
}
#a,#b,#c,#d{
    padding-top: 4vh;
}
ul{
    list-style: none;
    font-size: 23px;
}
.a{
    padding-top: 32vh;
    padding-left: 14vw;
    padding-right: 14vw;
}
.aa{
   /* font-family: 'PT Serif', serif; */
    /* font-family: 'Lobster', cursive; */
    /* font-style: italic; */
    /* font-family: 'Playball', cursive; */
    font-family: 'Merriweather Sans', sans-serif;
}
.ac button{
    margin-left: 30vw;
    height: 5.2vh;
    width: 11vw;
    color: white;
    background-color: #C9B78A;
    font-size: 23px;
    border-color: #C9B78A;
    border-radius: 14px;
}
header{
    background-image: url("https://source.unsplash.com/random/1920x1080/?wallpaper,food items");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-attachment: scroll;
    margin-top: -7vh;
}
.b{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 1vw;
    padding: 2% 5%;
    justify-content: space-around;
}
.ba{
    border: 4px solid pink;
    border-radius: 6%;
    text-align: center;
    background-color: #f2f2f2;
    justify-content: space-around;
}
.bb{
    border: 4px solid pink;
    text-align: center;
    background-color: #f2f2f2;
    border-radius: 6%;
    justify-content: space-around;
}
.bc{
    text-align: center;
    background-color: #f2f2f2;
    border-radius: 6%;
    border: 4px solid pink;
    justify-content: space-around;
}
.items{
    justify-content: space-around;
}
main a{
    text-transform: capitalize;
    text-decoration: none;
    color: black;
    font-weight: bolder;
}
main h1{
    padding-top: 1vh;
    padding-bottom: 0.7vh;
}